* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

/* General styling for the content */

.content {
  line-height: 40px;
  padding: 30px;
  width: 50%;
}

/* Style the images, videos etc. */

.embed {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the main text */

.main-text {
  font-size: 1.3em;
  font-family: "Calibri", sans-serif;
  padding-bottom: 30px;
}

/* Style the captions */

.caption {
  font-size: 1em;
  text-align: center;
  font-style: italic;
}

/* Style the tables */

table, tr, th, td {
  border: 2px solid black;
  text-align: center;
 
}

/* Only apply this to the table tag, otherwise the formatting of the table cells may break */

table {
  margin: 30px;
}